<!-- Start of Header -->
<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <div class="container"> <!-- Pull in Nav -->

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  <div class="navbar-brand">
    <%= link_to "Cooking with King", root_path, class: "navbar-brand" %>

  </div>
</div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-links">
      <ul class="nav navbar-nav navbar-right">

          <li><%= link_to "Episodes", root_path %></li>
          <li><%= link_to "Suggestions", suggestions_path %></li>
          <li><%= link_to "Forums", "http://forums.athensmc.com" %></li>
          <li><%= link_to "YouTube", "http://youtube.com/user/kaptoye" %></li>

      </ul>
    </div><!-- /.navbar-collapse -->


  </div> <!-- End Container -->
</nav> <!-- End NavBar -->
